
@model IEnumerable<InAndOut.Models.Item>


<div class="container p-3">
    <div class="row pt-4">
        <div class="col text-primary">
            <h1>
                Borrowed Items List
            </h1>
        </div>
        <div class="col text-right p-3">
            <a class="btn btn-primary" asp-controller="Item" asp-action="Create">Create New Item</a>
        </div>
    </div>
    @if (Model.Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Borrowed Item</th>
                    <th scope="col">Borrower</th>
                    <th scope="col">Lender</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>@item.ItemName</td>
                        <td>@item.Borrower</td>
                        <td>@item.Lender</td>

                        <td>
                            <div class="w-100 btn-group" role="group">
                                <a class="btn btn-info mx-1" asp-action="Update" asp-route-Id="@item.Id">Edit</a>
                                <a class="btn btn-danger mx-1" asp-controller="Item" asp-action="Delete" asp-route-Id="@item.Id">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            }

        </table>
    }
    else
    {
        <h1>No Items</h1>
    }
</div>